<div class="detail-prod col-md-12">
    <div class="col-md-6 t1">

        <div class="image ">
            <img class="card-img-top " [src]="transform(singleProduct.image)" alt="Detail image cap ">
        </div>

    </div>

    <div class="col-md-6 t2">
        <h2>Nom: {{singleProduct.nom}}</h2>
        <h2>Prix: {{singleProduct.prix}}</h2>


        <h2>Quantité Disponible:{{singleProduct.qtStock}} </h2>
        <!--<button class="btn btn-warning color-black">Ajouter au panier</button>-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-3 ">
            <div class="text-center ">
                <a class="btn btn-dark mt-auto ">Ajouter au panier</a>
            </div>
        </div>
    </div>

</div>
<div class="detail-prod col-md-12">
    <h2> </h2>
</div>